@import url("https://fonts.googleapis.com/css?family=Merriweather:100,200,300,300i,400,400i,700");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:300,400");

body {
  font-family: "Open Sans", serif;
}

.wrapper {
  background: linear-gradient(45deg, #00c6ff, #0072ff);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.main {
  height: 90vh;
  background: #fff;
  -webkit-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.47);
  -moz-box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.47);
  box-shadow: 0px 0px 25px -1px rgba(0, 0, 0, 0.47);
  width: 80%;
  margin: 0 auto;
  border-radius: 20px;
}

.title-container {
  height: 90vh;
  background: url("img/bg.png") center center no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  color: #000;
  border-radius: 20px 0 0 20px;
}

.title-container__title {
  font-size: 50px;
  letter-spacing: 2px;
  line-height: 1.3;
  font-family: "Roboto Slab", serif;
}

.title-container__subtitle {
  font-style: italic;
  font-weight: 100;
  letter-spacing: 1px;
  line-height: 1.5;
  font-family: "Merriweather", serif;
}

.form-container {
  background-color: #fff;
  height: 90vh;
  padding-top: 100px;
  padding-left: 50px;
  border-radius: 0 20px 20px 0;
}

input[type="text"] {
  background-color: transparent;
  border: 0;
  border-bottom: solid 1px #00c6ff;
  width: 30%;
  padding-bottom: 4px;
  color: #212121 !important;
  font-weight: lighter;
  letter-spacing: 2px;
  margin-bottom: 30px;
  margin-right: 20px;
  font-size: 20px;
}

input[type="text"] {
  outline: none;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
  -webkit-text-fill-color: #212121 !important;
}

button {
  width: 140px;
  height: 45px;
  font-family: "Roboto", sans-serif;
  font-size: 11px;
  text-transform: uppercase;
  letter-spacing: 2.5px;
  font-weight: 500;
  color: white;
  background-color: #00c6ff;
  border: none;
  border-radius: 10px;
  box-shadow: 0px 8px 15px rgba(0, 165, 211, 0.281);
  transition: all 0.3s ease 0s;
  cursor: pointer;
  outline: none;
}

button:hover {
  background-color: #2ee59d;
  box-shadow: 0px 15px 20px rgba(46, 229, 157, 0.4);
  color: #fff;
  transform: translateY(-7px);
}

button:active {
  outline: none;
}

.weather__info {
  width: 95%;
  font-size: 20px;
  font-weight: 200;
  letter-spacing: 2px;
}

.weather__key {
  color: #00c6ff;
  border-bottom: solid 2px rgba(255, 255, 255, 0.06);
  padding: 20px 0 20px 0;
  font-weight: 400;
}

.weather__key:last-child {
  border: 0;
}

.weather__value {
  color: #212121;
  font-weight: 200;
}

.weather__error {
  color: #ffc107;
  font-size: 20px;
  letter-spacing: 1px;
  font-weight: 200;
}
